## Financial Data Analysis Excel (XLSX)

### Objectives

Master the skills required to load, manipulate, analyze, and export Excel data within a Jupyter Notebook environment.

**Loading Excel Data into Jupyter**:
- Load the Excel data into a DataFrame using the `pandas` library.
- Display the first few rows of the dataset to understand its structure.

#### Step 1: Load the Excel data into a DataFrame using the `pandas` library.

In [21]:
# pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\josem\anaconda3\lib\site-packages (3.0.4)
Requirement already satisfied: et-xmlfile in c:\users\josem\anaconda3\lib\site-packages (from openpyxl) (1.0.1)
Requirement already satisfied: jdcal in c:\users\josem\anaconda3\lib\site-packages (from openpyxl) (1.4.1)
Note: you may need to restart the kernel to use updated packages.

In [22]:
# Importing the necessary library
import pandas as pd

# Load the Excel data into a DataFrame
df = pd.read_excel('updated_financial_data.xlsx', engine='openpyxl')

#### Step 2: Display the first few rows of the dataset to understand its structure.

In [23]:
df.head()

,ClientID,ClientName,Budget,Expenses,Revenue,Profit,FinancialAdvisor,ProfitMargin,ProfitRange
0,112,Yellow Apple,90000,84500,93000,8500,Hank Yellow,0.09,0-10k
1,111,Orange Mango,92000,84000,124000,40000,Frank Black,0.32,40k-50k
2,102,Beta Inc,75000,50000,90000,40000,Bob Smith,0.44,40k-50k
3,104,Delta Co,85000,70000,110000,40000,Dave Brown,0.36,40k-50k
4,110,Juliet Co,99000,94000,130000,36000,Jack Violet,0.28,30k-40k